body {
	background-image: url("fondo.jpg");
	background-repeat: no-repeat;
	background-size: 1500px;
	width: 1000px;
}

h1 {
		padding-left: 500px;
		color:white;
}
h3 {
	padding-left:  500px;
	color:rgb(0, 204, 255);
}

p {
	color: white;
	padding-left: 70px;
}